<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
            <h2 class = "centered">View Jobs By Category</h2>
        </div>

        <table class="centeredTable">
            <tr>
                <th:block th:each="column : ${columns}">
                    <th th:text = "${column.value}"></th>
                </th:block>
            </tr>
            <tr>
                <!-- TODO #2: Complete the View Jobs By Category Table. -->
                <!--One or the other:
                    1. Modify tableChoices in ListController to include
                    another key/value pair. Check the method that renders
                     the template to help identify the name to use for the key.
                    2. Modify list.html to fill in the empty table cell
                       with the necessary link. Check ListController
                       to help identify the data to pass in for the
                       query parameters.-->

                <td></td> <!-- Feel free to remove or modify this element if necessary. -->

                <td th:each="category : ${tableChoices}">
                    <ul>
                        <li th:each="item : ${category.value}">
                            <a th:href="@{/list/jobs(column=${category.key},value=${item})}" th:text="${item}"></a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>

    </body>
</html>