<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <!--create a loop to display each job passed in from the controller.
        Job data should be a table. get variable names from ListController
        - add add css "job-list" to the table
        - construct one table.
        each job should be in a separate row with fields on separate lines.-->
    <table th:fragment = "displayJobs" class="job-listing">

        <th:block th:each="job: ${jobs}">
            <tr>
                <td class="first-child">
                    <p th:text = "'ID: '+ ${job.id}"></p>
                    <p th:text = "'Name: ' +${job.name}"></p>
                    <p th:text = "'Employer: ' +${job.employer}"></p>
                    <p th:text = "'Location: ' +${job.location}"></p>
                    <p th:text = "'Position Type: ' +${job.positionType}"></p>
                    <p th:text = "'Skill: ' +${job.coreCompetency}"></p>
                </td>
            </tr>

        </th:block>

    </table>

</div>

</body>
</html>